extends layout

block content
  h1 Room available with your search

  table.table
    tr
      th Room
      th Room type
      th Number of People
      th Beds
      th Actions
    each room in Rooms
      tr
        td 
          a(href="/room/"+room.roomId)
            | #{room.roomName}
        td #{room.roomType}
        td #{room.numPeople}
        td #{room.beds}
        td
          a.button.btn.btn-primary.book-room(onClick='do_book(#{room.roomId})')
            i.fa.fa-user
            | Book
          a.button.btn.btn-primary.book-room(href="/room/"+room.roomId)
            i.fa.fa-user
            | Details
